<a href="https://colab.research.google.com/github/VivianeSouza923/HCIA_AI_HUAWEI_STUDY_if/blob/main/Pandas00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pandas**
* Data analysis and data handling
  * Read data
  * Clean data
  * Statistics of data
* It is built on top of NumPy
---
**Main data structures**
* Series: array with labeled index
* Dataframe: matrix with labeled index and columns

In [1]:
# importando as libs - a gente vai precisar do numpy, por motivos óbvios, para usar o pandas
import numpy as np
import pandas as pd

##Series

In [2]:
# criação da array aleatória de 5 números que serão sorteados dentro de 5 a 32 (exclusivo).
arr1 = np.random.randint(5, 32, 5)
#mostra
arr1

array([ 7,  6, 21, 11, 27])

In [3]:
# criação de series usando a array criada - Na serie, temos a labelização. Automaticamente, a série é labelizada com números de 0 a n, se você não passar os labels que deseja
#seriesCriar = pd.Series(arrayCriada)
series1 = pd.Series(arr1)
#mostra
series1

0     7
1     6
2    21
3    11
4    27
dtype: int64

In [4]:
# quero trocar os labels da minha serie:
#serieCriada = pd.Series(arrayCriada, ['label0', 'label1', ..., 'labeln'])
series1 = pd.Series(arr1, ['a', 'b', 'c', 'd', 'e'])
#mostra
series1

a     7
b     6
c    21
d    11
e    27
dtype: int64

In [5]:
# quer ver algum dado da série? Passa o label dele.
#serieCriada['label']
series1['b']

6

In [6]:
#mostrando a serie, de boa
series1

a     7
b     6
c    21
d    11
e    27
dtype: int64

In [7]:
# quer ver algum dado da série? Pode passar a posição também (lembrando que vai de 0 a n)
series1[2]

21

In [8]:
#criação de uma serie aleatória de 5 números dentro de 3 e 40(exclusivo), passando as labels que eu quero para esses 5
series2 = pd.Series(np.random.randint(3, 40, 5), ['a', 'b', 'c', 'd', 'e'])
#mostra
series2

a    18
b    26
c     8
d    38
e    18
dtype: int64

In [9]:
# soma de series --> soma como se fosse números normais
series1 + series2

a    25
b    32
c    29
d    49
e    45
dtype: int64

In [10]:
# criando series passando label com o dado logo, tipo fazendo biblioteca
pd.Series({'a': 5, 'b': 3, 'c': 8})

a    5
b    3
c    8
dtype: int64

In [11]:
# trazer a serie à tona
series1

a     7
b     6
c    21
d    11
e    27
dtype: int64

In [12]:
# não quero mais, quero deletar a serie
# del serieQueQueroDeletar
del series1

In [13]:
# testando se a deletação deu certo
series1

NameError: ignored

##DataFrames

In [14]:
# criação de uma matriz aleatória (de 100 a 499, é o que pode sair - randint), de shape 4x3
matrix1 = np.random.randint(100, 500, (4, 3))
#mostra
matrix1

array([[164, 383, 105],
       [194, 282, 101],
       [258, 147, 316],
       [383, 428, 133]])

In [15]:
# passar colunas e linhas
# columns = ['label0', 'label1',..., 'labeln']
columns = ['CE', 'MA', 'PI']
# rows = ['label0', 'label1',..., 'labeln']
rows = ['Jan', 'Fev', 'Mar', 'Abr']

In [16]:
# criar dataframe passando a matriz, linhas e colunas
# a gente já criou a matriz, as linhas e as colunas acima, lembra?
# dataframeQUEROCriar = pd.DataFrame(matrizCriada, rowsCriada, columnsCriada)
data_frame1 = pd.DataFrame(matrix1, rows, columns)
#mostra
data_frame1

      CE   MA   PI
Jan  164  383  105
Fev  194  282  101
Mar  258  147  316
Abr  383  428  133

In [17]:
# tipo do dataFrame?
type(data_frame1)

pandas.core.frame.DataFrame

In [18]:
# acessar a coluna do dataFrame?
#meuDataFrame['nome_da_Coluna_que_quero_acessar']
data_frame1['MA']

Jan    383
Fev    282
Mar    147
Abr    428
Name: MA, dtype: int64

In [19]:
# tipo?
type(data_frame1['MA'])

pandas.core.series.Series

In [20]:
# pegar algumas colunas do meu dataframe
#meuDataFrame[['primeiraColunaquequero', 'enésimacolunaqueQuero']]
data_frame1[['CE', 'PI']]

      CE   PI
Jan  164  105
Fev  194  101
Mar  258  316
Abr  383  133

In [21]:
# quero ver somente outras colunas
data_frame1[ ['PI', 'CE'] ]

      PI   CE
Jan  105  164
Fev  101  194
Mar  316  258
Abr  133  383

In [22]:
# criando uma nova coluna
#a nova coluna resulta na soma das 3 colunas existentes
data_frame1['Total'] = data_frame1['CE'] + data_frame1['PI'] + data_frame1['MA']
# mostra
data_frame1

      CE   MA   PI  Total
Jan  164  383  105    652
Fev  194  282  101    577
Mar  258  147  316    721
Abr  383  428  133    944

In [27]:
# aqui a gente vê as colunas do dataframe por index.
# meuDataFrame.columns
data_frame1.columns

Index(['CE', 'MA', 'PI', 'Total'], dtype='object')

In [28]:
# pelo index( que são as linhas) a gente vê as linhas :), além disso vemos o tipo
# meuDataFRame.index
data_frame1.index

Index(['Jan', 'Fev', 'Mar', 'Abr'], dtype='object')

In [29]:
# descrição do dataframe (média, desvio padrão, algumas porcentagens expresivas, entre outros)
# meuDataFRame.describe()
data_frame1.describe()

               CE          MA          PI       Total
count    4.000000    4.000000    4.000000    4.000000
mean   249.750000  310.000000  163.750000  723.500000
std     97.099176  124.640817  102.493496  158.325614
min    164.000000  147.000000  101.000000  577.000000
25%    186.500000  248.250000  104.000000  633.250000
50%    226.000000  332.500000  119.000000  686.500000
75%    289.250000  394.250000  178.750000  776.750000
max    383.000000  428.000000  316.000000  944.000000

In [30]:
# qual o shape do dataFRame?

#meuDataFRame.shape
data_frame1.shape

(4, 4)

In [31]:
# trazer o dataframe à tona
data_frame1

      CE   MA   PI  Total
Jan  164  383  105    652
Fev  194  282  101    577
Mar  258  147  316    721
Abr  383  428  133    944

In [34]:
# Observe que coluna não dá certo, pois NÃO É INDEX!!!! O loc funciona com index sendo recebido como parâmetro
data_frame1.loc['MA']

KeyError: ignored

In [32]:
# mostra a linha com todas suas colunas, óbvio. acessar dados por rótulo ou indexação!
# linha de fevereiro está sendo mostrada através do .loc['']
# meuDataFrame.loc['linha_que_quero_mostrar']
data_frame1.loc['Fev']

CE       194
MA       282
PI       101
Total    577
Name: Fev, dtype: int64

In [35]:
# localização através de rótulo, em resumo é isso
data_frame1.loc[['Mar', 'Fev', 'Abr']]

      CE   MA   PI  Total
Mar  258  147  316    721
Fev  194  282  101    577
Abr  383  428  133    944

In [41]:
# localizar através de index (posição da linha e tals) - número da linha
data_frame1.iloc[2]

CE       258
MA       147
PI       316
Total    721
Name: Mar, dtype: int64

In [44]:
# localizar dados passando linhas (index) e colunas
data_frame1.loc[['Mar', 'Jan'], ['Total', 'CE']]

     Total   CE
Mar    721  258
Jan    652  164

In [45]:
# mostra de novo esse df
data_frame1

      CE   MA   PI  Total
Jan  164  383  105    652
Fev  194  282  101    577
Mar  258  147  316    721
Abr  383  428  133    944

In [46]:
# quem do dataframe é maior que 300? O resultado é em booleano
data_frame1['MA'] > 300

Jan     True
Fev    False
Mar    False
Abr     True
Name: MA, dtype: bool

In [47]:
# dataFRame recebendo como parâmetro uma condição
data_frame1[data_frame1['MA'] > 300]

      CE   MA   PI  Total
Jan  164  383  105    652
Abr  383  428  133    944

In [49]:
# mostrar o dataframe [linhas: uma condição][passar as colunas]
data_frame1[data_frame1['MA'] > 300][['CE', 'PI']]

      CE   PI
Jan  164  105
Abr  383  133

In [50]:
# mostra o df de novo
data_frame1

      CE   MA   PI  Total
Jan  164  383  105    652
Fev  194  282  101    577
Mar  258  147  316    721
Abr  383  428  133    944

In [51]:
# aqui vamos inserir dados novos de uma nova linha e passando as colunas dessa linha que vai receber a mudança
# meudataFRame = pd.DataFrame([mudança que quero], ['index/rótulo da linha'], [colunas, separadas por vírgula])
data_frame2 = pd.DataFrame([[1, 2, 3, 4]], ['Mai'], ['CE', 'MA', 'PI', 'Total'])
# mostra
data_frame2

     CE  MA  PI  Total
Mai   1   2   3      4

In [52]:
# concatenação de 2 dataframes
# dataFRameConcatenado = pd.concat([df1], [df2])
data_frame3 = pd.concat([data_frame1, data_frame2])

In [54]:
# mostra o df concatenado
data_frame3

      CE   MA   PI  Total
Jan  164  383  105    652
Fev  194  282  101    577
Mar  258  147  316    721
Abr  383  428  133    944
Mai    1    2    3      4

In [55]:
# como excluir alguma linha? só usar o .drop(), passando dentro dos parênteses o index/rótulo da linha
data_frame3  = data_frame3.drop('Mai')

In [56]:
# ver como ficou
data_frame3

      CE   MA   PI  Total
Jan  164  383  105    652
Fev  194  282  101    577
Mar  258  147  316    721
Abr  383  428  133    944

In [57]:
# como excluir uma coluna? usa o .drop() também, mas aqui além de tu passar o 'nome_da_coluna', tu passa o eixo (axis=1)
data_frame1 = data_frame3.drop('Total', axis=1)

In [58]:
# vê cmo ficou
data_frame1

      CE   MA   PI
Jan  164  383  105
Fev  194  282  101
Mar  258  147  316
Abr  383  428  133

In [59]:
# multiplicar o df por 2, como é uma matriz (óbvio), mesmo jeitinho
data_frame1 * 2

      CE   MA   PI
Jan  328  766  210
Fev  388  564  202
Mar  516  294  632
Abr  766  856  266

##Data Input

In [104]:
# como ler um arquivo csv
# variavel_que_armazena_o_arquivo = pd.read_csv('nome_do_arquivo.csv')
data_bank = pd.read_csv('dataset_bank.csv')
# mostra
data_bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

**Data Set Information**: https://archive.ics.uci.edu/ml/datasets/bank+marketing

---

**Attribute Information**:

* age (numeric)
* job: type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
* marital: marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
* education: (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
* default: has credit in default? (categorical: 'no','yes','unknown')
* balance: amount of money in account
* housing: has housing loan? (categorical: 'no','yes','unknown')
* loan: has personal loan? (categorical: 'no','yes','unknown')
* contact: contact communication type (categorical: 'cellular','telephone')
* month: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
* day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
* duration: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
* campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
* pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
* previous: number of contacts performed before this campaign and for this client (numeric)
* poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
* y: has the client subscribed a term deposit? (binary: 'yes','no')

In [62]:
# mostra os 7 primeiros casos/7 primeiras linhas do df
# nome_do_df.head(quanto eu quero mostrar - em número)
data_bank.head(7)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no

In [63]:
# mostra os últimos casos do df (se deixar o parênteses em branco, automaticamente mostra os 5 últimos, o mesmo acontece com o head, mostra os 5 primeiros)
# nome_do_da.tail(7) - mostra os 7 últimos casos do df
data_bank.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [64]:
data_bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [65]:
# quais as variações existentes para o "marital"?
# nome_do_df['index/rótulo'].unique()
data_bank['marital'].unique()

array(['married', 'single', 'divorced'], dtype=object)

In [66]:
# quantidade de cada variável dentro da categoria "marital"
#nome_do_df['index/rótulo'].value_counts()
data_bank['marital'].value_counts()

married     2797
single      1196
divorced     528
Name: marital, dtype: int64

In [67]:
# quais as variáveis que temos dentro de trabalho (job)?

data_bank['job'].unique()

array(['unemployed', 'services', 'management', 'blue-collar',
       'self-employed', 'technician', 'entrepreneur', 'admin.', 'student',
       'housemaid', 'retired', 'unknown'], dtype=object)

In [68]:
# quantidade de variáveis dentro da categoria trabalho (job)? Quais as possibilidades dentro de job?
#nome_do_df['index/rótulo'].nunique()
data_bank['job'].nunique()

12

In [69]:
# o dataframe vai selecionar somente quem é divorciado
data_bank[data_bank['marital'] == 'divorced']

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,divorced,tertiary,no,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
30,68,retired,divorced,secondary,no,4189,no,no,telephone,14,jul,897,2,-1,0,unknown,yes
35,42,admin.,divorced,secondary,no,1811,yes,no,unknown,14,may,150,1,-1,0,unknown,no
36,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4469,36,management,divorced,tertiary,no,0,no,no,cellular,28,aug,81,4,-1,0,unknown,no
4487,49,entrepreneur,divorced,secondary,no,32,no,no,cellular,5,feb,128,1,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4510,36,technician,divorced,secondary,no,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no

In [70]:
# nome_do_df.info() -> vai dar todas as informações sobre esse dataFrame
data_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [71]:
data_bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [78]:
# média das variáveis de marital (pega a média de todas as colunas)
data_bank.groupby('marital').mean(numeric_only=True)

,age,balance,day,duration,campaign,pdays,previous
marital,,,,,,,
divorced,45.475379,1122.390152,15.753788,279.232955,2.604167,38.827652,0.439394
married,43.454415,1463.195567,15.905971,256.528781,2.847336,38.466929,0.519128
single,33.927258,1460.414716,16.008361,274.601171,2.751672,43.220736,0.642977

In [80]:
# .sort_values() ordena alguma coluna, matriz. Neste caso, estou usando para ordenar a coluna age em ordem crescente (ascending=True, o contrário é decrescente)
data_bank.groupby('marital').mean().sort_values('age', ascending=True)

<ipython-input-80-da4dac60c328>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_bank.groupby('marital').mean().sort_values('age', ascending=True)

,age,balance,day,duration,campaign,pdays,previous
marital,,,,,,,
single,33.927258,1460.414716,16.008361,274.601171,2.751672,43.220736,0.642977
married,43.454415,1463.195567,15.905971,256.528781,2.847336,38.466929,0.519128
divorced,45.475379,1122.390152,15.753788,279.232955,2.604167,38.827652,0.439394

In [81]:
# vai separar por marital e depois por educação (groupby()) para tirar a média. Tipo, média de primário de divorciado é tanto, entendeu?
data_bank.groupby(['marital', 'education']).mean()

<ipython-input-81-b0c4d9109180>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_bank.groupby(['marital', 'education']).mean()

                          age      balance        day    duration  campaign  \
marital  education
divorced primary    51.392405  1072.721519  14.544304  361.202532  2.481013
         secondary  43.496296   891.181481  15.733333  258.237037  2.581481
         tertiary   45.148387  1437.896774  15.935484  274.658065  2.767742
         unknown    50.375000  1849.333333  18.791667  275.166667  2.208333
married  primary    47.511407  1371.638783  15.437262  243.414449  2.908745
         secondary  42.404345  1272.911002  16.173090  260.746321  2.827610
         tertiary   41.777166  1860.719395  15.751032  256.752407  2.916094
         unknown    48.444444  1725.547009  15.717949  262.658120  2.384615
single   primary    37.013699  2065.753425  17.041096  285.863014  2.972603
         secondary  33.052545  1154.008210  15.628900  296.382594  2.582923
         tertiary   34.512821  1754.711538  16.435897  251.194444  2.923077
         unknown    34.652174  1562.173913  15.043478  206.500000  2.891304

                        pdays  previous
marital  education
divorced primary    33.987342  0.417722
         secondary  37.914815  0.422222
         tertiary   42.122581  0.509677
         unknown    43.750000  0.250000
married  primary    35.351711  0.484791
         secondary  39.652418  0.517870
         tertiary   36.764787  0.555708
         unknown    48.589744  0.461538
single   primary    34.205479  0.328767
         secondary  45.275862  0.600985
         tertiary   43.816239  0.735043
         unknown    24.260870  0.760870

In [82]:
# mesma lógica lá de cima
data_bank.groupby(['education', 'marital']).mean()

<ipython-input-82-c7963adb5815>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_bank.groupby(['education', 'marital']).mean()

                          age      balance        day    duration  campaign  \
education marital
primary   divorced  51.392405  1072.721519  14.544304  361.202532  2.481013
          married   47.511407  1371.638783  15.437262  243.414449  2.908745
          single    37.013699  2065.753425  17.041096  285.863014  2.972603
secondary divorced  43.496296   891.181481  15.733333  258.237037  2.581481
          married   42.404345  1272.911002  16.173090  260.746321  2.827610
          single    33.052545  1154.008210  15.628900  296.382594  2.582923
tertiary  divorced  45.148387  1437.896774  15.935484  274.658065  2.767742
          married   41.777166  1860.719395  15.751032  256.752407  2.916094
          single    34.512821  1754.711538  16.435897  251.194444  2.923077
unknown   divorced  50.375000  1849.333333  18.791667  275.166667  2.208333
          married   48.444444  1725.547009  15.717949  262.658120  2.384615
          single    34.652174  1562.173913  15.043478  206.500000  2.891304

                        pdays  previous
education marital
primary   divorced  33.987342  0.417722
          married   35.351711  0.484791
          single    34.205479  0.328767
secondary divorced  37.914815  0.422222
          married   39.652418  0.517870
          single    45.275862  0.600985
tertiary  divorced  42.122581  0.509677
          married   36.764787  0.555708
          single    43.816239  0.735043
unknown   divorced  43.750000  0.250000
          married   48.589744  0.461538
          single    24.260870  0.760870

##One Hot Encoding

In [105]:
data_bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [106]:
# em educação, 1 para onde tem e 0 para onde é vazio, é isso que o get_dumies() faz, falando de uma forma bem bruta.
one_hot = pd.get_dummies(data_bank['education'])
one_hot

      primary  secondary  tertiary  unknown
0           1          0         0        0
1           0          1         0        0
2           0          0         1        0
3           0          0         1        0
4           0          1         0        0
...       ...        ...       ...      ...
4516        0          1         0        0
4517        0          0         1        0
4518        0          1         0        0
4519        0          1         0        0
4520        0          0         1        0

[4521 rows x 4 columns]

In [108]:
# concatenando
data_bank = pd.concat([data_bank, one_hot], axis=1)

In [109]:
data_bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,...,poutcome,y,primary,secondary,tertiary,unknown,primary,secondary,tertiary,unknown
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,...,unknown,no,1,0,0,0,1,0,0,0
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,...,failure,no,0,1,0,0,0,1,0,0
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,...,failure,no,0,0,1,0,0,0,1,0
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,...,unknown,no,0,0,1,0,0,0,1,0
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,...,unknown,no,0,1,0,0,0,1,0,0

In [110]:
# aqui eu quero excluir education, pois ficou redundante
data_bank = data_bank.drop('education', axis=1)
data_bank

,age,job,marital,default,balance,housing,loan,contact,day,month,...,poutcome,y,primary,secondary,tertiary,unknown,primary,secondary,tertiary,unknown
0,30,unemployed,married,no,1787,no,no,cellular,19,oct,...,unknown,no,1,0,0,0,1,0,0,0
1,33,services,married,no,4789,yes,yes,cellular,11,may,...,failure,no,0,1,0,0,0,1,0,0
2,35,management,single,no,1350,yes,no,cellular,16,apr,...,failure,no,0,0,1,0,0,0,1,0
3,30,management,married,no,1476,yes,yes,unknown,3,jun,...,unknown,no,0,0,1,0,0,0,1,0
4,59,blue-collar,married,no,0,yes,no,unknown,5,may,...,unknown,no,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,no,-333,yes,no,cellular,30,jul,...,unknown,no,0,1,0,0,0,1,0,0
4517,57,self-employed,married,yes,-3313,yes,yes,unknown,9,may,...,unknown,no,0,0,1,0,0,0,1,0
4518,57,technician,married,no,295,no,no,cellular,19,aug,...,unknown,no,0,1,0,0,0,1,0,0
4519,28,blue-collar,married,no,1137,no,no,cellular,6,feb,...,other,no,0,1,0,0,0,1,0,0
4520,44,entrepreneur,single,no,1136,yes,yes,cellular,3,apr,...,other,no,0,0,1,0,0,0,1,0